<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <h1>About Page</h1>

    <div>
        <a href="/">Main Page</a>
    </div>
    <div>
        <a href="/home">Home</a>
    </div>
    <div>
        <a href="/about">About</a>
    </div>
    <div>
        <a href="/contat">About</a>
    </div>

</body>

</html>