<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= pagename %></h1>

    <div>
        <a href="/">Main Page</a>
    </div>
    <div>
        <a href="/home">Home</a>
    </div>
    <div>
        <a href="/about">About</a>
    </div>
    <div>
        <a href="/contat">About</a>
    </div>
        <table border="1" cellpadding="5">
        <thead>
            <th>ID</th>
            <th>Name</th>
        </thead>
        <tbody>
            <% users.map((user,i)=>{ %>

                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>


</body>
</html>